android/billing/gen/
android/billing/bin/
example/HelloWorldBilling/proj.win32/Debug/
*.sdf
example/HelloWorldBilling/proj.android/bin/
example/HelloWorldBilling/proj.android/gen/
example/HelloWorldBilling/proj.android/obj/local/armeabi-v7a/objs/
example/HelloWorldBilling/proj.android/obj/
*.opensdf
example/HelloWorldBilling/proj.android/out/
example/HelloWorldBilling/proj.android/.idea/
android/billing/.gradle/
android/billing/build/
example/HelloWorldBilling/proj.android/.gradle/
example/HelloWorldBilling/proj.android/build/
example/HelloWorldBilling/proj.win32/Debug_v140/
example/HelloWorldBilling/proj.android/libs/
*.db
*.suo
*.opendb
android/billing/oxygine-billing.iml
example/HelloWorldBilling/data-ram/
*.dll
example/HelloWorldBilling/proj.win32/Release_v140/
example/HelloWorldBilling/proj.android/.externalNativeBuild/
