<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.oxygine.billing"
          android:versionCode="1"
          android:versionName="1.0">


	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19"/>
	<uses-permission android:name="com.android.vending.BILLING"/>

	<receiver android:name="com.amazon.device.iap.ResponseReceiver" >
            <intent-filter>
                <action
                    android:name="com.amazon.inapp.purchasing.NOTIFY"
                    android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY" />
            </intent-filter>
    </receiver>
</manifest> 
